<nav>
    <a href="/login">login</a>
    <a href="/signup">signup</a>
    <a href="/playlist">playlist</a>
    <a href="/allplaylists">all playlists</a>
    <ul>
        <li>
            Home
        </li>
        <li>
            Artist
        </li>
        <li>
            Playlists
        </li>
        <li>
            Login
        </li>
    </ul>
</nav>