<nav>
    <div class="welcome">Playlist Builder</div>
    <!--<div class="cornernav">Playlist Builder</div>
    <a class="login-nav" href="/login">log out</a>
    <a href="/">Home</a>
    <a href="/signup">signup</a>
    <a href="/playlist">playlist</a>
    <a href="/allplaylists">all playlists</a>-->
</nav>
