This page won't exist... <br />
<a href="/db">database connection</a>
<br />
<a href="/login">login</a>
<br />
<a href="/signup">sign up</a>
<br />
<a href="/playlist">playlist page</a>
<br />
<a href="/search">search</a>
<br />
<a href="/artist">artist page</a>
<br />