<!DOCTYPE html>
<html>
    <head>
        <% include ../views/includes/header.ejs %>
        
    </head>

    <body>
        <br /><br />
        <div class="welcome">
            Welcome to <br /> Playlist Builder<br />
        </div>
        <div class="experience">
            The ultimate extension to <br /> your spotify experience<br /><br />
        </div>
        <div class="linksOnFirstPage">
            <a href="/login">Login</a><br /><br />
            <a href="/signup">Signup</a>
        </div>
    </body>
</html>