<!DOCTYPE html>
<html>
    <head>
        <% include ../views/includes/header.ejs %>
        
    </head>

    <body>
        <% include ../views/includes/nav.ejs %>
        <div>
            <h1>Its not a phase mom</h1>
            <p>Angsty punk rock or emo pop</p>
            <table style="width:75%; float: right;">
                <tr>
                  <th>Title</th>
                  <th>Artist</th>
                  <th>Length</th>
                  <th></th>
                </tr>
                <tr>
                    <td>Ocean Avenue</td>
                    <td>Yellowcard</td>
                    <td>3:54</td>
                    <td><button>remove</button></td>
                </tr>
                <tr>
                    <td>Still Waiting</td>
                    <td>Sum 41</td>
                    <td>3:49</td>
                    <td><button>remove</button></td>
                </tr>
                <tr>
                    <td>I Miss You</td>
                    <td>Blink 182</td>
                    <td>3:47</td>
                    <td><button>remove</button></td>
                </tr>
            </table>
        </div>
    </body>
</html>