<!DOCTYPE html>
<html>
    <head>
        <% include ../views/includes/header.ejs %>   
    </head>

    <body>
        <% include ../views/includes/nav.ejs %>

        <div class="container">
            <div>
                <table style="width:75%; float: right;">
                    <tr>
                        <th>Title</th>
                        <th>Artist</th>
                    </tr>
                    <% for (var i = 0; i < songs.length; i++) { %>
                        <tr>
                            <td><%= songs[i].title %></td>
                            <td><%= songs[i].artist %></td>
                        </tr>
                    <% } %>
                </table>
                
                
            </div>
        </div>
        <br />
        <br />
    </body>
</html>